<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="ml-4 mt-5 w-full h-screen bg-zinc-700 text-white">
    <div class="flex justify-end mr-8">
      <a
        class="bg-red-500 px-3 py-1.5 rounded-md inline-block text-sm"
        href="/logout"
        >Logout</a
      >
    </div>
    <a class="text-blue-400 mb-4 inline-block" href="/profile/upload"> click here for upload your pic</a>
    <div class="profilepic flex items-center gap-2 mb-3">
      <div class="w-15 h-15 rounded-md">
        <img class="w-full h-full object-cover" src="/uploads/<%= user.profilepic || 'default.webp' %>" alt="error" />
        <!-- <img class="bg-red-500" src="../uploads/default.webp" alt="" /> -->
      </div>
      <h1 class="text-xl mb-2">
        <span class="text-light">Hello,</span> <%= user.name %> 👋
      </h1>
    </div>
    <h5 class="mb-5">You can create a new post.</h5>
    <form action="/profile" method="post">
      <textarea
        class="resize-none w-1/3 bg-transparent border-2 border-zinc-800 outline-none rounded-md p-3 block"
        name="content"
        placeholder="what's on your mind ?"
      ></textarea>
      <input
        class="w-40 cursor-pointer px-3 py-2 bg-blue-500 rounded-md font-weight-md block mt-2"
        type="submit"
        value="Craete a new post"
      />
    </form>

    <div class="Posts mt-20">
      <h3 class="text-zinc-400">Your Post.</h3>
      <div class="postContainer mt-4 rounded-">
        <% user.posts.reverse().forEach(function(post){ %>

        <div
          class="post w-1/3 p-4 border-1 mb-3 bg-zinc-700 border-zinc-600 rounded-md"
        >
          <h1 class="text-blue-500 mb-2">@<%=user.username %></h1>
          <p class="text-sm tracking-tight"><%= post.content %></p>
          <small class="mt-2"> <%= post.likes.length %> Likes</small>
          <div class="btns flex mt-4 gap-2">
            <a class="text-blue-500" href="/likes/<%= post._id %>">
              <%= post.likes.indexOf(user._id)=== -1 ? "Like" : "Unlike" %>
            </a>
            <a class="text-zinc-400" href="/edit/<%=post._id %>">edit</a>
          </div>
        </div>

        <% }) %>
      </div>
    </div>
  </body>
</html>
